html{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    background-color: orange;
}
#label{
    font-size: 12px;
}
#fw-bold{
font-weight: bold;
}

#fs-italic{
font-style: italic;
}

#ls-text-indent{
text-indent: 30px;
}

#tt-capitalize{
 text-transform: capitalize;
}

#td-overline{
text-decoration: overline;
}
